<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicQuery" version="1.0" />
  <package id="jQuery" version="1.8.0" />
  <package id="KendoGridBinder" version="1.5" />
  <package id="KendoUIWeb" version="2012.2.710" />
  <package id="Knockout.Mapping" version="2.3.2" />
  <package id="knockoutjs" version="2.1.0" />
</packages>